* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}
body{
  background-color:azure;
}

.title{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleEdit{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.grid, .filtered{
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 10px;
  width: 100%;
  margin: 0 auto;
}



.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ccc;
  width: 230px;
  padding: 5px;
  border-radius: 10px;
}

a{
  text-decoration: none;
}
.logo{
  padding: 5px;
}
.logo h1 {
  color: #ffd900;
  font-size: 35px;
  font-family: Arial;
}
.cabecalho{
  background-color: #8d0606fd;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  color: #ffffff;
  background-color: #ff5100bb;
  border-style: none;
  margin: 2px;
  height: 30px;
  width: 40%;
  border-radius: 5px;
  cursor: pointer;
}

li a{
  text-decoration: none;
  color: #eee;
  font-size: 1.1em;
  padding: 10px 15px;
}

img{
  max-height: 325px;
}

.menu a:hover {
  color: #ffd900;
}

.menu ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu{
  flex-grow: 10;
}

.form{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.formulario{
  background-color: #8d0606fd;
  color: white;
  width: 400px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formulario p{
  width: 100%;
  font-size: 1.5em;
}

.field{
  width: 100%;
  margin: 15px 0;
}

.field label,
.field span{
  padding-left: 10px;
  font-size: 1.1em;
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea{
  width: 100%;
  padding-left: 10px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  border: 1px solid rgb(231, 174, 174);
  outline: none;
}

textarea{
  line-height: 20px;
  padding: 10px;
  height: 90px;
  resize: none;
}

input[type=submit]{
  display: block;
  font-size: 1.1em;
  height: 35px;
  border: none;
  outline: 0;
  cursor: pointer;
  width: 100px;
  margin: 0 auto;
  text-align: center;
  border-radius: 15px;
  background-color:#ffd900
}
